---
type Props = {
	data: {
	product: string;
	price: string;
	};
};

const { data } = Astro.props;


---


<div class="shadow-md flex gap-4 items-center py-2 px-6 rounded">
	<p class="text-shamrock-950 text-xl flex-1">{data.product}</p>
	<p class="text-shamrock-950 shrink- font-bold text-xl">{data.price}</p>
</div>

<!--
	
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="border-b">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Accounts</th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Prices</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">NETFLIX</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">$4,60</td>
                        </tr>
                        <tr class="border-b">
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">DISNEYPLUS</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">$4,30</td>
                        </tr>
                        <tr class="border-b">
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">MAX</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">$4,30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

-->
